<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour it!{{else}}Eat Again in the future!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>

{{!-- REVIEW OF CONCEPTS: 
1. Handlebars only accepts objects. 
2.  $(".change-devoured").on("click", function(event) {} is referenced in script.js 
3.   --}}